{% extends 'base.html' %}
{% block title %}修改密码 - Lacus-Log{% endblock %}
{% block content %}
<section class="auth">
  <h1 class="title">修改密码</h1>
  <form action="{{ url_for('main.change_password') }}" method="POST" name="change_password_form" class="form">
    
    <label>当前密码</label>
    <input class="input" type="password" name="password" placeholder="请输入当前密码" required />
    
    <label>新密码</label>
    <input class="input" type="password" name="new_password" placeholder="请输入新密码" required />
    
    <label>确认新密码</label>
    <input class="input" type="password" name="new_password_confirm" placeholder="请再次输入新密码" required />
    
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" value="保存" />
    </div>
  </form>
</section>
{% endblock %}

