FLASK_APP_PORT=5080
LOG_LEVEL=DEBUG
PYMONGO_LOG_LEVEL=INFO
ALLOWED_DOMAINS=lacus.cyberdoc.work,100.88.88.88
ALLOWED_PORTS=443,5080
BASE_URL=https://lacus.cyberdoc.work

MONGODB_URI=mongodb://127.0.0.1:27017/lacus

ACCESS_CODE=testcode

FLASK_SECRET_KEY=just_need_a_key
JWT_SECRET_KEY=just_need_a_key

SECRET_KEY=your_secret_key_here
SECURITY_PASSWORD_SALT=your_password_salt_here

SECURITY_REMEMBER_SALT=your_remember_salt_here
SECURITY_DEFAULT_REMEMBER_ME=True
PERMANENT_SESSION_LIFETIME=360000